.wrapper1 {
  /* min-height: 100vh; */
  position: absolute;
  /* display: flex; */
  top: 5%;
  left: 2%;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  width: 70vw;
  height: 70vh;
  color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(186, 186, 186, 0.367);
}
