body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-around; */
  background-color: #cac5d5;
  color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
